body{
    background-color: antiquewhite;
}

#btn{
    width: 35%;
    padding: 15px 0;
    font-size: 18px;
    background:orange;
    border: none;
    border-radius: 20px;
    display: inline;
    margin-left: 35%;
    margin-top: 20%;
}

#btn:hover{
    cursor:pointer;
    background-color: darkorange;
}